<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>389979931733-jclur1gv7u9rg8g9cmco6874be5kvejj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.389979931733-jclur1gv7u9rg8g9cmco6874be5kvejj</string>
	<key>API_KEY</key>
	<string>AIzaSyBfe-BZLHARpqmaItdd1-dIsGYKMOlv4c8</string>
	<key>GCM_SENDER_ID</key>
	<string>389979931733</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>PharmacieGarde.com</string>
	<key>PROJECT_ID</key>
	<string>login-39561</string>
	<key>STORAGE_BUCKET</key>
	<string>login-39561.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:389979931733:ios:da0b82d40abb7d019fc0dc</string>
	<key>DATABASE_URL</key>
	<string>https://login-39561-default-rtdb.firebaseio.com</string>
</dict>
</plist>